*.elc
*.info
/lisp/bbdb-loaddefs.el
/lisp/TAGS
Makefile
Makefile.in
/autom4te.cache
/config.*
/configure
/aclocal.m4
/doc/bbdb.aux
/doc/bbdb.cp
/doc/bbdb.cps
/doc/bbdb.fn
/doc/bbdb.ky
/doc/bbdb.log
/doc/bbdb.pdf
/doc/bbdb.pg
/doc/bbdb.toc
/doc/bbdb.tp
/doc/bbdb.vr
/doc/texinfo.tex
/install-sh
/lisp/bbdb-version.el
/missing
